@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Medium'), local('Gilroy-Medium'), url('assets/fonts/Gilroy-Medium.woff2') format('woff2'),
    url('assets/fonts/Gilroy-Medium.woff') format('woff'), url('assets/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  box-sizing: border-box;
  --white-200: #f8f3ff;
  --black-400: #303030;
  --black-600: #333333;
  --purple-600: #8e43ed;
  --purple-200: #aa7ecd;
  --white: #ffffff;
  --black: #000000;
  --pink: #f18bc3;
  --gray: #9f9f9f;
}

input:active,
input:focus,
select:active,
select:focus,
button[type='submit']:active,
button[type='submit']:focus {
  outline: none;
  -moz-box-shadow: 1px 1px 7px 2px var(--purple-200);
  -webkit-box-shadow: 1px 1px 7px 2px var(--purple-200);
  box-shadow: 1px 1px 7px 2px var(--purple-200);
}

input::placeholder {
  color: var(--gray);
  opacity: 1;
}

input:-ms-input-placeholder {
  color: var(--gray);
}

input::-ms-input-placeholder {
  color: var(--gray);
}

input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
}

body {
  background-color: var(--white-200);
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.error {
  border-color: red !important;
  position: relative;
}

.label-error:after {
  content: 'Invalid value!';
  position: absolute;
  z-index: 1;
  bottom: -25px;
  left: 0;
  color: red;
  font-size: 12px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 96px;
  padding-right: 10%;
  padding-left: 5%;
}

.navbar {
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: var(--purple-600);
}

.header img {
  width: 116px;
  height: 45px;
}

.navbar div {
  padding: 0 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.user-card {
  background-color: var(--white);
  height: calc(100vh - 96px);
  display: flex;
  align-items: center;
  padding: 0 64px;
  border-top-left-radius: 23%;
  border-bottom-right-radius: 23%;
  width: 100%;
}

.user-avatar {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  min-width: 170px;
  min-height: 190px;
  max-height: 650px;
  max-width: 575px;
}

.user-avatar::after {
  content: '';
  width: 68.93px;
  height: 68.93px;
  z-index: 1;
  border-radius: 16px;
  background-color: var(--purple-600);
  position: absolute;
  transform: rotate(-111.94deg);
  left: -45px;
  bottom: 115px;
}

.user-avatar::before {
  content: '';
  width: 120.57px;
  height: 120.57px;
  z-index: 1;
  border-radius: 24px;
  background-color: var(--pink);
  position: absolute;
  transform: rotate(128.05deg);
  left: -37px;
  bottom: -31px;
}

.user-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 3% 0% 32px 32px;
  height: 640px;
}

.user-name {
  font-weight: 800;
  font-size: 56px;
  line-height: 72px;
  color: var(--black-400);
}

.user-additional-info {
  display: flex;
  padding: 24px 0 64px;
}

.user-additional-info p {
  color: var(--black-400);
  padding-right: 32px;
}

.user-additional-info p span {
  font-weight: 800;
  color: var(--purple-200);
  font-size: 16px;
  line-height: 21px;
  padding-right: 6px;
}

.user-text-header {
  color: var(--black-400);
  font-weight: 800;
  font-size: 27px;
  line-height: 36px;
  padding-bottom: 24px;
}

.user-text {
  color: var(--black);
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}

.user-text p {
  padding-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  min-height: 750px;
  height: fit-content;
  padding: 5% 0 4% 7%;
  position: relative;
  overflow-x: hidden;
}

.form-small-square {
  position: absolute;

  width: 116.44px;
  height: 116.44px;
  background: #e0cff8;
  border-radius: 16px;
}

.form-small-square.right-side {
  top: 24.5%;
  left: 78%;
  transform: rotate(47.56deg);
}

.form-small-square.left-side {
  top: 28.5%;
  right: 78%;
  transform: matrix(-0.67, 0.74, 0.74, 0.67, 0, 0);
}

.form-middle-square {
  position: absolute;
  width: 167.79px;
  height: 167.79px;

  background: var(--purple-600);
  border-radius: 32px;
}

.form-middle-square.right-side {
  top: 6.5%;
  left: 91%;
  transform: rotate(15deg);
}

.form-middle-square.left-side {
  top: 10.5%;
  right: 91%;
  transform: matrix(-0.97, 0.26, 0.26, 0.97, 0, 0);
}

.form-large-square {
  position: absolute;
  width: 293.5px;
  height: 293.5px;

  background: var(--pink);
  border-radius: 32px;
  transform: rotate(30deg);
}

.form-large-square.right-side {
  top: 47.5%;
  left: 83%;
}

.form-large-square.left-side {
  top: 51.5%;
  right: 83%;
  transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0);
}

.left-side {
  z-index: -1;
  background-color: #f2e9ff;
}

.form-header {
  color: var(--black-400);
  font-weight: 800;
  font-size: 40px;
  line-height: 72px;
}

.form input,
.form select {
  border-radius: 12px;
  width: 304px;
  height: 56px;
  border: 1px solid var(--purple-600);
  background-color: var(--white);
  padding: 0 16px;
}

#formUserGender {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  color: var(--gray);
}

#formUserGender.selected {
  color: var(--black-400);
}

.custom-select:after {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  border-right: 2px solid var(--purple-600);
  border-top: 2px solid var(--purple-600);
  transform: rotate(135deg);
  right: 20%;
  bottom: 24px;
  pointer-events: none;
}

.form label {
  color: var(--black-600);
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding-bottom: 8px;
}

.form-main-info > div,
.form-additional-info > div {
  display: flex;
  flex-direction: column;
  padding: 40px 32px 0 0;
  position: relative;
}

.form-main-info,
.form-additional-info {
  display: flex;

  flex-wrap: wrap;
}

.file-upload-block {
  height: 168px;
  padding-top: 56px;
  position: relative;
}

.file-upload-block.hidden {
  pointer-events: none;
}

#fileUpload {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  border: 2px dotted var(--purple-200);
  border-radius: 12px;
  width: 80%;
  max-width: 976px;
  height: 104px;
  background-color: var(--white);
  margin-top: 8px;
}

.custom-upload-infoblock {
  top: 50%;
  left: 14%;
  display: flex;
  align-items: center;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #9993bd;
  pointer-events: none;
  position: absolute;
}

.custom-upload-button {
  margin-left: 17px;
  width: 211px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--purple-600);
  background: var(--white);
  border: 1px solid var(--purple-600);
  border-radius: 12px;
}

.custom-file-upload.label-error {
  border-color: red;
}

.custom-file-upload.label-error:after {
  content: 'Wrong file!';
  position: relative;
  bottom: -115%;
  left: 45%;
  z-index: 10;
  color: red;
  transform: translate(0%, 0%);
}

.highlight {
  /* TODO: fix style */
}

.drop-text {
  display: none;
}

.custom-upload-infoblock.highlight {
  left: 25%;
  top: 60%;
}

.custom-file-upload.highlight {
  background-color: #ffe9f5;
}

.drop-text.highlight {
  display: flex;
  align-items: center;
}

.custom-upload-text.highlight {
  display: none;
}

.custom-upload-button.highlight {
  display: none;
}

.preview {
  height: 56px;
  width: 256px;
  display: flex;
  align-items: center;
  background: var(--white);
  border: 1px solid #d9bbff;
  border-radius: 12px;
  padding: 0px 12px;
}

#previewImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.img-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 8px;
  width: 75%;
}

#previewImgName {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 2px;
  color: var(--black-400);
}

#previewImgTypeAndSize {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #afafaf;
}

#trashCan {
  display: none;
}

.form-submit {
  margin-top: 100px;
  display: flex;
  align-items: center;
}

.form-submit button {
  background-color: var(--purple-600);
  min-width: 100px;
  width: 211px;
  height: 56px;
  border-radius: 12px;
  box-shadow: none;
  border: 0;
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.form-submit button:disabled {
  background-color: #ded9e4;
}

.complete-icon-wrap {
  margin-right: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #e1fee8;
  display: flex;
  justify-content: center;
  align-items: center;
}

#completeBlockWrap {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.complete-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--black-400);
}

.slider {
  height: 535px;
  padding: 56px 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  box-sizing: content-box;
}

.slider-content {
  max-width: 1312px;
  min-width: 200px;
  width: 100%;
  display: flex;
  position: relative;
}

.slider-images-block {
  display: flex;
  overflow-x: hidden;

  border-radius: 32px;
}

.slider-image {
  display: none;
}

.showen {
  display: block;
}

.showen img {
  border-radius: 32px;
}

.slider-control-buttons {
  display: flex;
  align-items: center;
}

.slider-control-buttons button {
  border: none;
  height: 99%;
  position: absolute;
  z-index: 1;
  background-color: transparent;
  width: 3%;
  min-width: 15px;
  color: var(--white);
  font-size: 60px;
  max-width: 535px;
  top: 0;
}

.slider-control-buttons label {
  width: 25px;
  height: 25px;
  border-right: 5px solid var(--white);
  border-top: 5px solid var(--white);
  border-radius: 5px;
  z-index: 5;
  position: absolute;
}

.left {
  left: 2%;
  transform: rotate(225deg);
}

.right {
  right: 2%;
  transform: rotate(45deg);
}

.slider-control-buttons button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#leftSliderButton {
  left: 0;
  padding: 0 3%;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
}

#rightSliderButton {
  right: 0;
  padding: 0 3%;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}

.slider-text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-header-text {
  font-weight: 800;
  font-size: 56px;
  line-height: 72px;
  color: var(--white);
  padding-bottom: 16px;
  text-align: center;
  width: 90%;
}

.slider-additional-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: var(--white);
  width: 90%;
  text-align: center;
}

.dots-block {
  position: absolute;
  z-index: 2;
  bottom: 7%;
  left: 50%;
  display: flex;
  width: 80px;
  justify-content: space-around;
  transform: translate(-50%, 0%);
}

.dots-block div {
  width: 10px;
  height: 10px;
  border: 2px solid var(--white);
  border-radius: 50%;
}

.active-dot {
  background-color: var(--white);
}

@media (max-width: 920px) {
  .header {
    height: 78px;
  }

  .navbar div {
    padding: 0 10px;
    font-size: 14px;
    line-height: 18px;
  }

  .user-card {
    height: calc(100vh - 78px);
    padding: 0 32px;
  }

  .user-avatar {
    width: 50%;
  }

  .user-avatar::before {
    width: 88px;
    height: 88px;
    border-radius: 20px;
    left: -21px;
  }

  .user-avatar::after {
    width: 50px;
    height: 50px;
    border-radius: 13px;
    left: -30px;
    bottom: 90px;
  }

  .user-info {
    width: 50%;
    padding: 6% 0 0 4%;
  }

  .user-name {
    font-size: 40px;
    line-height: 48px;
  }

  .user-additional-info {
    padding: 12px 0 32px;
  }

  .user-additional-info p {
    padding-right: 16px;
  }

  .user-additional-info p span {
    font-size: 14px;
    line-height: 18px;
  }

  .user-text-header {
    font-size: 20px;
    line-height: 24px;
  }

  .user-text {
    font-size: 15px;
    line-height: 24px;
  }

  .custom-file-upload {
    height: 135px;
  }

  .custom-upload-infoblock {
    flex-direction: column;
  }

  .slider-header-text {
    font-size: 48px;
    line-height: 48px;
  }

  .slider-additional-text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 550px) {
  .header {
    justify-content: center;
    height: 64px;
    padding: 0;
    overflow-x: hidden;
  }

  .navbar {
    display: none;
  }

  .user-avatar {
    width: 90%;
  }

  .user-card {
    flex-direction: column;
    justify-content: center;
    border-radius: 0;
    height: fit-content;
    padding: 24px 0;
    overflow-x: hidden;
  }

  .left-side,
  .form-small-square {
    display: none;
  }

  .user-info {
    width: 90%;
    height: auto;
    padding: 6% 0 0 0;
  }

  .user-avatar::before,
  .form-large-square {
    width: 56.46px;
    height: 56.46px;
    border-radius: 16px;
  }

  .user-avatar::after,
  .form-middle-square {
    width: 32.28px;
    height: 32.28px;
    border-radius: 10px;
  }

  .user-avatar::before {
    bottom: -2%;
    left: 87%;
    transform: rotate(149deg);
  }

  .user-avatar::after {
    left: 92%;
    bottom: 13%;
    transform: rotate(-150deg);
  }

  .form {
    width: 100%;
    height: auto;
    padding: 6%;
    flex-direction: column;
    justify-content: center;
  }

  .form-large-square.right-side {
    top: 2.5%;
    left: 84%;
    transform: rotate(-6deg);
  }

  .form-middle-square.right-side {
    top: 7%;
    left: 78%;
    transform: rotate(51deg);
  }

  .form input,
  .form select {
    width: 100%;
  }

  .form-header {
    font-size: 32px;
    line-height: 41px;
    width: 80%;
  }

  .form-main-info,
  .form-additional-info {
    flex-direction: column;
    width: 100%;
  }

  .custom-file-upload {
    width: 100%;
    height: 175px;
  }

  .custom-upload-infoblock {
    text-align: center;
    flex-direction: column;
    left: 13%;
    width: 70%;
  }

  .custom-upload-infoblock.highlight {
    left: 15%;
    top: 80%;
  }

  .custom-upload-button {
    margin-top: 5%;
    width: 95%;
    padding: 2% 0;
  }

  .custom-file-upload.label-error:after {
    bottom: -110%;
  }

  .form-submit {
    margin-top: 180px;
  }

  .preview {
    width: 100%;
  }

  .img-info {
    width: 80%;
  }

  .slider {
    padding: 32px 16px;
  }

  .slider-text-block {
    width: 70%;
  }

  .slider-header-text {
    font-size: 40px;
    line-height: 48px;
  }

  .slider-additional-text {
    font-size: 15px;
    line-height: 24px;
  }

  .slider-control-buttons button {
    top: 88%;
    height: 11%;
    width: 17%;
  }

  #leftSliderButton {
    border-top-left-radius: 0;
  }

  #rightSliderButton {
    border-top-right-radius: 0;
  }

  .left,
  .right {
    bottom: 5%;
  }

  .left {
    left: 5%;
  }

  .right {
    right: 5%;
  }
}
